{% extends 'app/base.html' %}

{% block content %}
  <h2>Crew Members</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>Contact</th>
        <th>Position</th>
        <th>Availability</th>
      </tr>
    </thead>
    <tbody>
      {% for crewmember in crewmembers %}
        <tr>
          <td>{{ crewmember.name }}</td>
          <td>{{ crewmember.gender }}</td>
          <td>{{ crewmember.contact }}</td>
          <td>{{ crewmember.position.position_name }}</td>
          <td>{{ crewmember.availability }}</td>
          <td><a href="{% url 'crewmember_detail' crewmember.id %}">Details</a></td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No crew members found</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}