{% extends 'app/base.html' %}

{% block content %}
  <h2>Crew Member Detail</h2>
  <table>
    <tr>
      <th>Name:</th>
      <td>{{ crewmember.name }}</td>
    </tr>
    <tr>
      <th>Gender:</th>
      <td>{{ crewmember.gender }}</td>
    </tr>
    <tr>
      <th>Contact:</th>
      <td>{{ crewmember.contact }}</td>
    </tr>
    <tr>
      <th>Position:</th>
      <td>{{ crewmember.position.position_name }}</td>
    </tr>
    <tr>
      <th>Availability:</th>
      <td>{{ crewmember.availability }}</td>
    </tr>
  </table>
  <a href="{% url 'crewmember_edit' crewmember.id %}">Edit</a>
  <a href="{% url 'crewmember_delete' crewmember.id %}">Delete</a>
{% endblock %}