{% extends 'app/base.html' %}

{% block content %}
  <h2>Position Detail</h2>
  <table>
    <tr>
      <th>Position Name:</th>
      <td>{{ position.position_name }}</td>
    </tr>
    <tr>
      <th>Position Code:</th>
      <td>{{ position.position_code }}</td>
    </tr>
    <tr>
      <th>Contract Length:</th>
      <td>{{ position.contract_length }}</td>
    </tr>
    <tr>
      <th>Vacation Length:</th>
      <td>{{ position.vacation_length }}</td>
    </tr>
  </table>
  <a href="{% url 'positions_edit' position.id %}">Edit</a>
  <a href="{% url 'positions_delete' position.id %}">Delete</a>
{% endblock %}