{% extends 'app/base.html' %}

{% block content %}
  <h2>Qualification Detail</h2>
  <table>
    <tr>
      <th>Crew Member:</th>
      <td>{{ qualification.crewmember }}</td>
    </tr>
    <tr>
      <th>Cert:</th>
      <td>{{ qualification.cert }}</td>
    </tr>
    <tr>
      <th>Expiry:</th>
      <td>{{ qualification.expiry }}</td>
    </tr>
    <tr>
      <th>Date Issued:</th>
      <td>{{ qualification.date_issued }}</td>
    </tr>
  </table>
  <a href="{% url 'qualification_edit' qualification.id %}">Edit</a>
  <a href="{% url 'qualification_delete' qualification.id %}">Delete</a>
{% endblock %}