{% extends 'app/base.html' %}

{% block content %}
  <h2>Qualification List</h2>
  <table>
    <thead>
      <tr>
        <th>Crew Member</th>
        <th>Cert</th>
        <th>Expiry</th>
        <th>Date Issued</th>
      </tr>
    </thead>
    <tbody>
    {% for qualification in qualification_list %}
      <tr>
        <td>{{ qualification.crewmember }}</td>
        <td>{{ qualification.cert }}</td>
        <td>{{ qualification.expiry }}</td>
        <td>{{ qualification.date_issued }}</td>
        <td>
          <a href="{% url 'qualification_detail' qualification.id %}">View</a>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="5">No qualifications found.</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}