{% extends 'app/base.html' %}

{% block content %}
  <h2>Ship Crew Allowance Detail</h2>
  <table>
    <tr>
      <th>Ship Code:</th>
      <td>{{ shipcrewallowance.ship_code }}</td>
    </tr>
    <tr>
      <th>Quantity Allocated:</th>
      <td>{{ shipcrewallowance.quantity_allocated }}</td>
    </tr>
    <tr>
      <th>Position:</th>
      <td>{{ shipcrewallowance.position.position_name }}</td>
    </tr>
  </table>
  <a href="{% url 'shipcrewallowance_edit' shipcrewallowance.id %}">Edit</a>
  <a href="{% url 'shipcrewallowance_delete' shipcrewallowance.id %}">Delete</a>
{% endblock %}